<!DOCTYPE html>
<html>
  <head>
    <title>AnswerBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div>
        Hello <%= current_user.email %>
      </div>
      <%= link_to destroy_user_session_path, :method => :delete, :class => 'logout_link' do %>
        <span class="fa fa-power-off"> logout </span>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
